<% include ./partials/header.ejs %>
<div id="bg">
    <div class="strip">
        <img class="bgimg" src="/images/bg/dev.jpg" alt="developer image">
    </div>
    <div class="strip"></div>
    <div class="strip"></div>
    <div class="strip"></div>
</div>
<h1>Homepage</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime possimus facilis 
    exercitationem nobis eligendi qui dolor quia odit, cupiditate dolores illum at culpa 
    inventore dolore nesciunt quo unde illo molestias!</p>

<a class="linkbtn" id="http://www.google.com" href="#">link to another page</a>
<!-- End BG -->

<% include ./partials/footer.ejs %>