<% include ./partials/header.ejs %>
<div id="bg">
    <div class="strip">
        <a href="/ecommerce" class="linkbtn"><h3>eCommerce <br/>& webmaster</h3></a>
    </div>
    <div class="strip">
        <a href="/webdev" class="linkbtn"><h3>Web<br/> Development</h3></a>
    </div>
    <div class="strip">
        <a href="/sound" class="linkbtn"><h3>Sound<br/> Design</h3></a>
    </div>
    <div class="strip">
        <a href="/profile" class="linkbtn"><h3>Profile</h3></a>
    </div>
</div>
<!-- <h1>Profile</h1> -->
<!-- <h1>Homepage</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime possimus facilis 
    exercitationem nobis eligendi qui dolor quia odit, cupiditate dolores illum at culpa 
    inventore dolore nesciunt quo unde illo molestias!</p> -->

<!-- <a class="linkbtn" id="http://www.google.com" href="#">link to another page</a> -->
<!-- End BG -->

<% include ./partials/footer.ejs %>