:root {
    --link: steelblue;
    --textBG: #232323;
    --bgColor1: #232323;
}

body{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: var(--bgColor1);
    font-family: 'Roboto', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
#bg{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index: -100;
}
.strip{
    position: absolute;
    margin: 0;
    top:0;
    height: 100vh;
    width: 25vw;
    z-index: -99;
    border-right: 1px solid var(--textBG);
    transform: skew(-20deg);
    background-image: url('../images/bg/me.jpg');
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.5s;
}

.strip h3 {
    position: relative;
    width: max-content;
    margin: 0 auto;
    top: 50vh;
    padding: 10px;
    border: 2px dashed var(--textBG);
    background-color: var(--textBG);
    transition: ease-in-out 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 4px 7px 50px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 50px 3px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 50px 3px rgba(0,0,0,0.75);
}
.strip h3:hover{
    border-color: #fff;
}
.strip:nth-of-type(1){
    left: 25vw; 
    background-color: var(--bgColor1);
    background-image: url('../images/bg/eCommerce.jpg');
    background-size: cover;
    z-index: 98;
}
.strip:nth-of-type(2){
    left: 50vw;
    background-image: url('../images/bg/devbg.jpg');
    background-size: cover;
}
.strip:nth-of-type(3){
    left: 75vw;
    background-color: var(--bgColor1);
    background-image: url('../images/bg/beta.png');
    background-position: center;
    width: 34vw;
}
.strip:nth-of-type(4){
    transform: skew(0deg);
    width: 30vw;
    background-position: left;
}
.linkbtn{
    /* color: var(--link); */
    /* text-decoration: underline; */
    cursor: pointer;
}